
<div class="col one_file_container border_style">
    <div class="img_container">
        <img class="img" [src]="src">
    </div>
    <div class="name_container" *ngIf="!user" style="margin-bottom: 8px;">{{name}}</div>
    <div *ngIf="user" class="control_Container"> 
        <div class="name_container" >
            {{name}}
            </div>
        <div class="button_container">
            <div></div>
            <div class="btn-group button_container_in">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                </button>
                <ul class="dropdown-menu">
                    <li><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="handleranamedocument()"data-bs-whatever="@mdo">
                        Rename
                      </button></li>
                    <li><button type="button" class="btn btn-light"   (click)="handleremovefile()"    data-bs-target="#staticBackdrop">
                        Remove
                      </button></li>
                    <li><button type="button" class="btn btn-light"  data-bs-target="#staticBackdrop" (click)="handleopenfile()">
                        Open 
                      </button></li>
                    <li *ngIf="owner"><button type="button" data-bs-toggle="modal" data-bs-target="#exampleshareModal" (click)="handleShare()" data-bs-whatever="@mdo" class="btn btn-light" >
                        Share
                      </button></li>
                </ul>
              </div>
        </div>        
    </div>
</div>

