<app-nav-bar class="nav-bar1"></app-nav-bar>
<div class="body_container2">
    <div  class="left_container1">
        <p class="first_para">You can build your best ideas together,in SharedPen.</p>
        <p class="second_para">Create and collaborate an online documents in real-time and from any device from any where</p>
        <div class="sign_in_go_to_contianer">
            <p class="sign_in1" (click)="onsignin()">Sign in </p>
            <p class="go_to" (click)="onsignin()">Go to Docs</p>
        </div>
        <div class="sign_up_container">
            <p class="sign_up_text">Don't have an account?</p>
            <p class="sign_up_button" (click)="onsignup()">Sign up for free</p>
        </div>
    </div>
    <div class="right_container1">
        <img class="imgc"  src="https://lh3.googleusercontent.com/4BcOYDs5e95hVbpGR0kDVKXRVAldcyYoHrM3q7Ashp2JrVARBVgglUwS_xPaIg_yuqWZJEpwlIjHUcQ63i9SPZBMq5E-t3A9EH5VX1y_mcRY_IbhYbg=s0">
    </div>
</div>
